*{
    margin: 0;
    padding: 0;
}
.main-footer{
  
 
  width: 100%;
 
  color: white;
  
}
.footer1{
  height: 35px;
  background-color: rgb(122, 120, 120);
}
.footer2{
 height: 200px;
 background-color: black;
}